article {
    display: grid;
    gap: 1rem;
    grid-template-columns: minmax(0, 1fr);
    overflow-wrap: break-word;
}

article img { max-width: 100% }

aside {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

aside form {
    align-items: center;
    display: flex;
    gap: .5rem;
}

/* Inline code blocks e.g. `...` */
code {
    background: #f6f8fa;
    border-radius: .375rem;
    font-size: 85%;
    padding: .2em .4em;
}

/* Indented code blocks are <pre><code>...</code></pre>, undo the above */
pre > code {
    border-radius: 0;
    padding: 0;
    font-size: 1rem;
}

code, pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    overflow: auto;
    white-space: pre-wrap;
}

/* Fenched code blocks e.g ```\n...\n``` */
/* TODO Make this "pre" when plain text content isn't wrapped in a <pre> */
pre:not(:only-child) {
    background: #f6f8fa;
    border-radius: .375rem;
    padding: 1rem;
}

main {
    gap: 1rem 2rem;
    grid-template: min-content min-content 1fr / 1fr 15rem;
}

table {
    display: block;
    max-width: 100%;
    overflow: auto;
}

[id^=rl-]:not(:hover) [aria-hidden] { display:      none  }
[id^=rl-]             [aria-hidden] { padding-left: .25em }

/* https://github.com/alecthomas/chroma/blob/master/types.go */
.c, .c1, .ch, .cm, .cp, .cpf          { color: #6a737d } /* Comment      */
.k, .o                                { color: #c33    } /* Keyword, Op  */
.m, .mb, .mf, .mh, .mi, .il, .mo, .nb { color: #005cc5 } /* Num, Builtin */
.nf, .nx                              { color: #6f42c1 } /* Name         */
.no, .nv, .vg                         { color: #22863a } /* Variable     */
.p, .s, .s1, .s2, .sa, .sr            { color: #032f62 } /* Punct, Str   */

.info {
    align-items: center;
    display: grid;
    gap: .25rem .5rem;
    grid-template-columns: 1rem auto;
}

.info a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#alert {
    align-items: center;
    background: #f8d7da;
    border: 1px solid #f5c2c7;
    border-radius: .25rem;
    color: #842029;
    display: flex;
    gap: .75rem;
    margin-top: 1rem;
    padding: .5rem .75rem;
}

#alert em {
    font-style: normal;
    font-weight: bold;
}

#author {
    display: grid;
    font-weight: bold;
    gap: 0 .5rem;
    grid-template-columns: 2.5rem auto;
}

#author img {
    border-radius: .25rem;
    grid-row: span 2;
    height: 2.5rem;
    width: 2.5rem;
}

#author span {
    font-size: .75rem;
    font-weight: normal;
}

.deps { padding-left: .25rem }

.deps li {
    list-style-position: inside;
    margin-top: .25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.deps ul { padding: 0 0 0 1rem }

#info, main > nav { grid-column: 1 / -1 }

#info img {
    grid-row: span 2;
    height: 4rem;
    width: 4rem;
}

#long-name {
    align-items: center;
    border-radius: .5rem .5rem 0 0;
    display: flex;
    gap: .5rem;
    margin-left: auto;
    padding: 0 .5rem;
}

#long-name span {
    overflow: auto;
    scrollbar-width: none;
}

#long-name span::-webkit-scrollbar { display: none }

#long-name svg {
    cursor: pointer;
}

#tabs {
    border-bottom: 2px solid #444;
    overflow: hidden;
}

#tabs a {
    border-radius: .5rem .5rem 0 0;
    font-weight: bold;
    margin-bottom: -2px;
    padding: .375rem .5rem;
}

#tabs a:not([href]) {
    background: #444;
    color: #fff;
}

@media (max-width: 30rem) {
    aside {
        border-top: 2px solid #444;
        padding-top: 1rem;
    }

    main { grid-template-columns: 1fr }
}

@media (prefers-color-scheme: dark) {
    code { background: #333 }
    pre code { background: transparent }
    #tabs a:not([href]) { color: var(--dark-text-color) }

    pre:not(:only-child) {
        color: #bbb;
        background: #1c1c1c;
    }

    /* https://github.com/alecthomas/chroma/blob/master/types.go */
    .c, .c1, .ch, .cm, .cp, .cpf          { color: #7f8791 } /* Comment      */
    .k, .o                                { color: #fb8686 } /* Keyword, Op  */
    .m, .mb, .mf, .mh, .mi, .il, .mo, .nb { color: #7cb9ff } /* Num, Builtin */
    .nf, .nx                              { color: #bb96ff } /* Name         */
    .no, .nv, .vg                         { color: #c5b048 } /* Variable     */
    .p, .s, .s1, .s2, .sa, .sr            { color: #87c12d } /* Str          */
    .p                                    { color: #a9a9a9 } /* Punct        */
    .n                                    { color: #a5a2d1 } /* Name         */
    .na                                   { color: #39c102 } /* Attribute    */
    .nn                                   { color: #ff884e } /* Namespace    */
    .sd                                   { color: #848aa9 } /* Doc          */
}
