table { break-inside: avoid-column }

table:not(:last-child) { margin-bottom: 1rem }

tbody th {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

tr > *            { text-align: right }
tr > :first-child { text-align: left  }

#tables {
    columns: 3;
    gap: 1rem;
}

@media (max-width: 44rem) { #tables { columns: 2 } }
@media (max-width: 32rem) { #tables { columns: 1 } }
